.iconsWheater {
	font-size: 500% !important;
}
.tempPh {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 300px;
	margin: auto;
	padding: 10px;
}
.temp {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}
.tempNumber {
	padding-left: 5px;
}
.ph {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.moisture {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 50px;
	margin: auto;
	padding: 10px;
}
